
.product-box{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40%;
    border-radius: 15px; 
    overflow: hidden;
}
.product-top-section{
    background-color: #F5F6F6;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 70%;
}
.product-bottom-section{
    display: flex;
    height: 30%;
    background-color: white;
}
.product-top-section img{
    
    overflow: hidden;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.5s;

}
.product-top-section img:hover{
    transform: scale(1.1);
}
.product-left{
    display: flex;
    justify-content: center;
    align-items:baseline;
    width: 80%;
    flex-direction: column;
    gap: 3px;
}
.product-left button{
    height: 300px;
    width: 70%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}
.product-left button:hover{
    background-color:#003D29;
    border-color:#003D29 ;
    color: white;
}
.product-right{
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 30%;
    color: green;
}