.marq{
    padding: .5rem;
}
.marq-text{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem;
    animation: marquee 10s linear infinite;
}

.advertisement-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertisement-content{
    width: 91vw;
    height:40vh;
    display: flex;
   color: #fff;
   
}
.advertisement-content .left-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 2%;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.left-part button{
    width: 200px;
    border-radius: 50px;
    border: none;
    color: black;
    font-size: larger;
    font-weight:bold;
    background-color: white;
    padding: 2%;
    cursor: pointer;
    box-shadow: 2px 2px 5px white;
}
.advertisement-content .right-part-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 50%;
}
.right-part-img img{
    display: flex;
    max-width: 50%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.product-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
 
}
.product-details{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: baseline;
    padding: 7%;
    height: 100vh;
    width: 87vw;
}
.product-section-outer{
    display: flex; 
    width:100vw;
    height: 70vh;
    justify-content: baseline;
    align-items: baseline;
}
.product-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5%;
    width: 100%;
}
.product-section-header{
    margin-bottom:2% ;
}
.product-section-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15rem;
    gap: 2rem;
    opacity: 0;
   transform: translateY(20px);
   animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.section-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    height: 15rem;
    overflow: hidden;
}
.section-box-header{
   position: absolute;
   color: #fff; 
   z-index: 1;
}
.section-box img {
    transition: transform 0.5s;
}
.section-box:hover img {
    transform: scale(1.2);
}
.section-box img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.offer{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.offer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}
.offer-content img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.trending-products{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
}
.services{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 2px;
    height:80vh;
    width: 100vw;
}
.trending-products{
    display: flex;
    justify-content:flex-start;
    gap: 2rem;
    align-items: baseline;
    flex-direction: column;

    margin: 4%;
    height: 70vh;
    width: 90vw;
}
.trending-items{
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }